// only the extension (css -> .scss) was changed
@import "./main.scss";

.header {
  margin:20px 0;
}

.tiles {
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.row {
    flex-flow:row;
  &.reverse {
    flex-flow: row-reverse;
  }

  }

  &.column {
      flex-flow:column;
    &.reverse {
      flex-flow: column-reverse;
    }

    }
}